$max-content-width: 1400px;

$primary: #000000;
$secondary: #124578;

$desktop-nav-height: 65px;
$mobile-nav-height: 65px;

.px-3{
    padding: 3rem 0;
}

@mixin generate($prefix, $property) {
    // List of sizes to generate for each
    $sizes: [0 , .25, .5, 1, 1.5, 2, 3, 4 ];
    // Spacing to multiply the sizes by
    $spacing: 1rem;
    
    // Loop through all of the sizes(we use @for rather than @each, as we want access to the index)
    @for $i from 1 through length($sizes) {
      // Get the size for the current index
      $size: nth($sizes, $i);
      
      // Create the rule
      .#{$prefix}-#{$i - 1} {
        #{$property}: $spacing * $size;
      }
    }
}

$rules: [
  [ml, margin-left],
  [mt, margin-top],
  [mb, margin-bottom],
  [mr, margin-right],
  [ma, margin],
  [pl, padding-left],
  [pt, padding-top],
  [pb, padding-bottom],
  [pr, padding-right],
  [pa, padding],
];

@each $item in $rules {
  @include generate(nth($item, 1), nth($item, 2));
}